<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="PythonInterprterLocation" value="C:\applications\agl_contact_prediction\env\Scripts\python.exe" />
    <add key="ScriptLocation" value="C:\applications\agl_contact_prediction\incremental_inbound_data_load.py" />
    <add key="SMTPServer" value="aglsmtp05.agl.com.au" />
    <add key="SMTPPort" value="25" />
    <add key="EmailSubject" value="Testing Alert" />
    <add key="FromEmail" value="ConnectNowTCSSupport@agl.com.au" />
    <add key="ToEmail" value="THalder@agl.com.au;ABanerjee36384e@agl.com.au;AAdak4@agl.com.au;SMitra14ebc7@agl.com.au" />
    <!--must be separated with a semi-colon-->
    <add key="CCEmail" value="MSinha2@agl.com.au" />
    <!--must be separated with a semi-colon-->
  </appSettings>
</configuration>